body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    background: rgba(0, 0, 0, 0.897);
  
    padding: 0;
    p {
      margin: 0 0 10px;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 100px 50px;
    margin: auto;
  
  
    @media screen and (max-width: 420px) {
      padding: 100px 10px;
    }
    &__heading {
      width: 100%;
  
      text-align: center;
      // padding: 0 50px;
      color: white;
      padding: 80px 0px;
   
      display: flex;
      justify-content: center;
  
      // text-align: left;
      @media screen and (max-width: 960px) {
        justify-content: center;
        text-align: center;
        margin: 0;
  
        max-width: 100%;
        width: 100%;
      }
      // margin: auto;
      .heading {
        width: 70%;
  
        margin: auto;
  
        text-align: left;
        @media screen and (max-width: 960px) {
          text-align: center;
        }
        h1 {
          font-size: 30px;
          @media screen and (max-width: 660px) {
            font-size: 23px;
          }
        }
      }
      // padding: 0 200px;
    }
    &__main {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: row;
  
      @media screen and (max-width: 960px) {
        flex-direction: column;
        align-items: center;
      }
    }
  
    &__gallery {
      display: flex;
      flex-direction: column;
      width: 50%;
      position: relative;
      @media screen and (max-width: 960px) {
        width: 100%;
        margin-bottom: 20px;
      }
  
      .icon-box {
        position: absolute;
        top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        right: 30px;
        height: 20%;
  
        @media screen and(max-width:660px) {
          height: 25%;
        }
        i {
          background: #000;
          padding: 10px;
          border-radius: 100%;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            color: #088178;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .slider {
        width: 100%;
        max-width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        padding: 0 10px;
        cursor: pointer;
  
        div {
          height: 500px;
          width: 100%;
          margin-right: 10px;
          display: flex;
          position: relative;
  
          .search {
            position: absolute;
            color: rgba(0, 0, 0, 0.479);
            z-index: 999;
            // top:0%;
            // height: 50px;
            text-align: center;
            font-size: 25px;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
  
            i {
              background: rgba(224, 224, 224, 0.637);
              padding: 10px;
              border-radius: 100%;
            }
  
            transition: all 0.3s ease-in-out;
          }
  
          .live-btn {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 10%;
  
            cursor: pointer;
            height: 10%;
  
            opacity: 0;
            transition: all 0.3s ease-in-out;
  
            span {
              background: #088178;
              padding: 10px;
              text-align: center;
              color: rgb(255, 255, 255);
       
              font-weight: bold;
              border-radius: 5px;
              opacity: 1;
              z-index: 999;
  
              &:hover {
                background: transparent;
                border: 1px solid white;
              }
            }
          }
  
          &:hover {
            .search {
              opacity: 1;
              transition: all 0.3s ease-in-out;
            }
            .live-btn {
              opacity: 1;
              transition: all 0.3s ease-in-out;
            }
          }
          @media screen and (max-width: 960px) {
            height: 100%;
            margin-right: 0;
          }
          img {
            filter: brightness(0.6);
            width: 100%;
            height: 500px;
            object-fit: cover;
          }
        }
      }
  
      .slider-nav {
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        padding: 0 10px;
        cursor: pointer;
        // background: rgba(0, 0, 0, 0.87);
        @media screen and (max-width: 660px) {
          display: none;
        }
  
        div {
          overflow: hidden;
          border-radius: 8px;
          margin-right: 10px;
          transition: all 0.2s ease-in-out;
          height: 100%;
  
          &:hover {
            border-radius: 12px;
            transition: all 0.2s ease-in-out;
          }
          img {
            filter: brightness(0.6);
            overflow: hidden;
            border-radius: 8px;
            height: 200px;
            width: 100%;
  
            transition: all 0.5s ease-in-out;
            object-fit: cover;
  
            &:hover {
              border-radius: 8px;
  
              transition: all 0.5s ease-in-out;
              transform: scale(1.1);
            }
          }
        }
      }
    }
    &__pricing {
      background: darken(grey, 30%);
      border-radius: 5px;
      color: #ffff;
      border: 1px solid grey;
      height: 400px;
      display: flex;
      justify-content: center;
      width: 40%;
      max-width: 400px;
  
      transition: all 0.35s ease-in-out;
      border: 1px solid grey;
      @media screen and (max-width: 960px) {
        width: 100%;
        margin-bottom: 50px;
      }
      @media screen and (max-width: 420px) {
        height: 300px;
      }
  
   
      .pricing-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
  
        p {
          text-align: left;
          font-size: 16px;
  
          @media screen and (max-width: 420px) {
            font-size: 12px;
            line-height: 150%;
          }
        }
        .price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          font-weight: bold;
        }
        button {
          width: 100%;
          border: none;
          background-color: #088178;
          padding: 10px;
          font-size: 18px;
          margin: 20px 0;
          color: white;
          font-weight: bold;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
  
          @media screen and (max-width: 420px) {
            font-size: 14px;
  
            padding: 5px;
          }
  
          @media screen and(max-width:960px) {
            margin-bottom: 20px;
          }
          &:hover {
            background: linear-gradient(
              to right,
              #088178,
              rgba(69, 226, 69, 0.568)
            );
            transition: all 0.5s ease-in-out;
          }
        }
        .cart {
          cursor: pointer;
          @media screen and (max-width: 420px) {
            font-size: 12px;
          }
          strong {
            color: rgb(6, 122, 143);
            cursor: pointer;
  
            @media screen and (max-width: 420px) {
              font-size: 14px;
            }
          }
        }
        .bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          font-weight: bold;
          @media screen and (max-width: 420px) {
            display: none;
          }
  
          .license {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h5 {
              font-weight: bold;
              text-align: center;
              font-size: 16px;
              @media screen and (max-width: 420px) {
                font-size: 12px;
                padding-right: 10px;
              }
            }
            p {
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              @media screen and (max-width: 420px) {
                font-size: 12px;
                padding-left: 10px;
              }
            }
          }
  
          .category {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
  
            h5 {
              text-align: center;
              font-size: 16px;
              font-weight: bold;
              @media screen and (max-width: 420px) {
                font-size: 12px;
                padding-right: 10px;
              }
            }
            p {
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              @media screen and (max-width: 420px) {
                font-size: 12px;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  
    &__content {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
   
  
      .content-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // margin: 0 auto;
        max-width: 80%;
        // padding: 0 25px;
        @media screen and (max-width: 960px) {
          flex-direction: column;
        }
  
        @media screen and (max-width: 420px) {
          padding: 0;
        }
        .about {
          width: 60%;
          // max-width: 800px;
          height: auto;
          // margin: 0 auto;
          // padding: 0 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 20px;
          h3 {
            font-size: 20px;
            @media screen and (max-width: 960px) {
              font-size: 18px;
            }
          }
          @media screen and (max-width: 960px) {
            width: 100%;
            margin-right: 0;
          }
  
          span {
            color: rgba(128, 128, 128, 0.733);
            font-size: 20px;
            padding: 20px 0;
  
            @media screen and (max-width: 420px) {
              font-size: 14px;
            }
          }
          button {
            background-color: transparent;
            text-align: left;
            color: white;
            border: none;
            padding-bottom: 20px;
  
            @media screen and(max-width:960px) {
              margin-bottom: 20px;
            }
          }
          .rectangular-section{
            cursor: pointer;
            background-color: #54b8b138;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &:hover {
              border: 1px solid grey;
              transition: all 0.5s ease-in-out;
              background: linear-gradient(
                to right,
                #088178,
                rgba(69, 226, 69, 0.568)
              );
            }
            // padding: 20px;
            align-items: center;
            transition: all 0.5s ease-in-out;
            border: 1px solid transparent;
            border-radius: 5px;
  
            @media screen and (max-width: 660px) {
              flex-direction: column;
            }
            @media screen and(max-width:960px) {
              margin-bottom: 20px;
            }
  
            .text {
              text-align: left;
              padding: 20px;
              @media screen and (max-width: 420px) {
                padding: 10px;
              }
              h5 {
                margin: 0;
                font-size: 18px;
              }
              p {
                font-size: 13px;
              }
            }
            a {
              color: white;
              letter-spacing: 1px;
              font-size: 14px;
              padding: 20px;
              cursor: pointer;
              @media screen and (max-width: 420px) {
                padding: 10px;
              }
            }
          }
        }
        .product {
          width: 40%;
          max-width: 400px;
          display: flex;
          flex-direction: column;
          // justify-content: center;
          text-align: left;
          // padding: 0 20px;
  
          // margin-left: 20px;
          h2 {
            font-size: 20px;
            @media screen and (max-width: 960px) {
              font-size: 18px;
            }
          }
          @media screen and (max-width: 960px) {
            width: 100%;
  
            justify-content: center;
  
            text-align: left;
          }
          .list {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            align-items: center;
            width: 100%;
            p {
              cursor: pointer;
            }
  
            i {
              color: #088178;
              margin-right: 20px;
            }
          }
          button {
            background-color: transparent;
            color: #088178;
            border: none;
            font-size: 18px;
            text-align: left;
            width: 100%;
            padding-top: 20px;
            padding-left: 0;
            cursor: pointer;
          }
        }
      }
    }
  }
  
  #navbar {
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    padding: 50px 10px;
    transition: 0.4s;
    position: fixed;
    z-index: 999;
  
    top: 0;
  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      cursor: pointer;
      float: left;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 14px;
      line-height: 25px;
      border-radius: 4px;
      transition: all 0.35s ease-in-out;
      &:hover {
        color: #de3c4b;
  
        transition: all 0.35s ease-in-out;
      }
    }
    #logo {
      font-size: 30px;
      float: left;
      transition: 0.4s;
      text-align: left;
      padding: 0 50px;
    }
  
    #navbar-right {
      width: 70%;
      float: right;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  
      i {
        cursor: pointer;
        color: white;
        margin: 0;
        transition: all 0.35s ease-in-out;
        &:hover {
          color: #de3c4b;
  
          transition: all 0.35s ease-in-out;
        }
      }
    }
  }
  
  input[type="checkbox"] {
    display: none;
    position: fixed;
  }

  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    transition: all 0.3s linear;
    color: white;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  
  .small-icons {
    display: none;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .nav-link-small {
    position: absolute;
    top: 0px;
    padding: 20px;
    z-index: 999;
    display: none;
    a {
      color: white;
      text-decoration: none;
      transition: all 0.35s ease-in-out;
  
      &:hover {
        color: #088178;
  
        transition: all 0.35s ease-in-out;
      }
    }
  }
  
  .logo {
    display: none;
    a {
      color: white;
      text-decoration: none;
      transition: all 0.35s ease-in-out;
  
      &:hover {
        color: #088178;
  
        transition: all 0.35s ease-in-out;
      }
    }
  }
  
  @media screen and (max-width: 760px) {
    .small-icons {
      display: flex;
      justify-content: space-between;
      width: 30%;
  
      i {
        color: white;
        transition: all 0.35s ease-in-out;
        &:hover {
          color: #088178;
  
          transition: all 0.35s ease-in-out;
        }
      }
    }
    #navbar {
      display: none;
      padding: 20px 10px !important;
      position: fixed;
      justify-content: space-between;
      #logo {
        font-size: 20px;
      }
      a {
        float: none;
        display: block;
        text-align: left;
      }
  
      #navbar-right {
        .nav-links {
          display: none;
        }
  
      }
    }
  
    //   .nav-link-small {
    //     position: relative;
  
    //     width: 100%;
    //     background: #000;
    // top:20px;
    // left: 10px;
    // display: flex;
    // flex-direction: column;
  
    //   }
    input[type="checkbox"]:checked ~ .nav-link-small {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      width: 100%;
      top: 50px;
      left: 0;
      background: rgb(0, 0, 0);
      animation: sliding 0.2s ease-in;
      a {
        margin-bottom: 20px;
        &:hover {
          border-left: 1px solid #088178;
          border-right: 1px solid #088178;
          padding: 0 10px;
        }
      }
    }
    .hamburger {
      display: block;
  
      position: absolute;
  
      left: 0;
      top: 10px;
      padding: 0 20px;
      transition: all 0.35s ease-in-out;
      &:hover {
        color: #088178;
  
        transition: all 0.35s ease-in-out;
      }
    }
    .logo {
      display: block;
      position: absolute;
      top: 17px;
      color: white;
      left: 50px;
    
      transition: all 0.35s ease-in-out;
      &:hover {
        color: #088178;
  
        transition: all 0.35s ease-in-out;
      }
    }
  }
  
  .container2 {
    justify-content: center;
    display: flex;
    // width: 100vh;
    align-items: center;
  
    &__wrapper {
      display: flex;
      justify-content: center;
      max-width: 70%;
      align-items: center;
      flex-direction: column;
    }
  
    .columns {
      padding: 0 30px;
      justify-content: start;
      align-items: center;
      @media screen and (max-width: 1280px) {
        justify-content: center;
      }
    }
  
    // styling card
    .container2__card {
      background-position: center;
      background-size: cover;
      object-fit: cover;
      border-radius: 5px;
  cursor: pointer;
      height: 100%;
  
      // margin-right: 70px;
      margin-bottom: 20px;
      // width: 100%;
      // max-width: 100%;
  
      padding: 20px;
      overflow: hidden;
  
      margin-right: 20px;
      @media screen and (max-width:480px) {
        margin-right: 0;
        
      }
  
      // using media query
  
      // using hover effects
      &:hover {
        // on hover animate card bottom
        .container2__card-bottom {
          visibility: visible;
          transition: all 0.35s ease-in-out;
          transform: translateY(0px);
        }
      }
      // on hover animate card top
      &:hover .container2__card-top {
        .icon-share {
          visibility: visible;
          transform: translateY(0px);
          transition: all 0.35s ease-in-out;
        }
      }
      // styling card top
      .container2__card-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  
        .tag {
          background: #de3c4b;
          color: white;
          padding: 2px 10px;
          border-radius: 5px;
          font-size: 12px;
          text-transform: uppercase;
          display: flex;
          height: 15px;
      
          align-items: center;
        }
      }
      // styling icon
      .icon-share {
        border-left: 0px;
        border-bottom: 0px;
        .icons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: all 0.35s ease-in-out;
          height: 100%;
          opacity: 0;
  
          box-shadow: none;
          outline: none;
  
          i {
            margin-right: 5px;
            &:first-child {
              transition: 0.35s ease-in-out;
  
              &:hover {
                background: #334c8c;
                transition: 0.35s ease-in-out;
              }
            }
            &:nth-child(2) {
              transition: 0.35s ease-in-out;
              &:hover {
                background-color: rgb(42, 173, 238);
                transition: 0.35s ease-in-out;
              }
            }
          }
        }
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        height: 100%;
        transition: all 0.35s ease-in-out;
        transform: translateY(-50px);
        &:hover .icons {
          opacity: 1;
          transition: all 0.35s ease-in-out;
        }
  
        i {
          color: white;
          background: #000;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
  
          text-align: center;
  
          font-size: 15px;
        }
      }
  
      // styling card text
      .title {
        text-align: center;
        margin-top: 60px;
        color: white;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .line {
          width: 15%;
          background-color: #de3c4b;
          height: 3px;
        }
        h2 {
          font-weight: 500;
          letter-spacing: 0.5px;
          margin-top: 10px;
          transition: all 0.35s ease-in-out;
          font-size: 20px;
  
          &:hover {
            color: #d396be;
  
            transition: all 0.35s ease-in-out;
          }
        }
        span {
          font-size: 13px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        }
      }
      // styling card bottom
      .container2__card-bottom {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        visibility: hidden;
        transition: all 0.2s ease-in-out;
        transform: translateY(60px);
  
        // user image
        .user-image {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background: url(https://valkyrie.xaes.dev/content/images/2018/09/10258553_490703191059311_1426632935227693623_o-min.jpg);
          background-size: cover;
          background-position: center;
  
          margin-right: 15px;
        }
        .name {
          width: 80%;
          // margin-right: 30px;
          cursor: pointer;
          text-align: left;
  
          p {
            color: white;
            font-size: 12px;
            transition: all 0.35s ease-in-out;
            &:hover {
              color: #d76fb0;
              transition: all 0.35s ease-in-out;
            }
          }
        }
      }
    }
  }
  
  footer {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
    color: white;
    .footer-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      padding: 0 15px;
      @media screen and(max-width:960px) {
      padding: 0;
      }
  
      .imp-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
  
        @media screen and(max-width:960px) {
          flex-direction: column;
        }
        .links {
          margin-right: 10px;
          max-width: 500px;
          @media screen and(max-width:960px) {
          margin-right: 0;
          max-width: 100%;
          text-align: center;
          }
  
          a {
            cursor: pointer;
            color: #088178;
            text-decoration: none;
          }
        }
  
        .copyright {
          max-width: 50%;
          font-size: 12px;
          @media screen and(max-width:960px) {
  max-width: 100%;
  padding: 20px 0;
  text-align: center;
          }
        }
      }
  
      .logo-links {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.329);
        @media screen and(max-width:660px) {
          flex-direction: column;
          padding: 20px 0;      }
        #upside {
          font-size: 50px;
          a {
            color: #088178;
            text-decoration: none;
          }
        }
        .icons {
          width: 30%;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
  
          i{
            transition: all 0.35s ease-in-out;
            &:hover{
              color: #088178;
              transition: all 0.35s ease-in-out;
            }
          }
          @media screen and(max-width:660px) {
        width: 80%;
          }
        }
        .links {
          a {
            color: #088178;
          }
        }
      }
      .footer__links {
        width: 100%;
  li{
    cursor: pointer;
  }
        .columns {
          justify-content: center;
        }
  
        ul {
          @media screen and(max-width:480px) {
            text-align: center;
          }
        }
        h5 {
          font-weight: bold;
          color: #de3c4b;
        }
        li {
          list-style: none;
        }
      }
    }
  }
  
  #img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.521)),
      url(https://images.unsplash.com/photo-1655906541920-09ccb02adf51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5Nnx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
  }
  #img2 {
    background-image: linear-gradient(rgba(196, 22, 22, 0.322)),
      url(https://images.unsplash.com/photo-1527409335569-f0e5c91fa707?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ&s=a7dfe365d0259a816ca47b35f5559948);
  }
  #img3 {
    background-image: linear-gradient(rgba(255, 255, 0, 0.322)),
      url(https://images.unsplash.com/photo-1655841439161-c2d145b6aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  }
  
  #img4 {
    background-image: linear-gradient(rgba(26, 27, 26, 0.699)),
      url(https://images.unsplash.com/photo-1655878373885-c89f1da78734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMDB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  }
  #img5 {
    background-image: linear-gradient(rgba(4, 25, 43, 0.637)),
      url(https://images.unsplash.com/photo-1655821190069-9767d990974f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  }
  #img6 {
    background-image: linear-gradient(rgba(2, 15, 2, 0.575)),
      url(https://images.unsplash.com/photo-1655811937685-5a58f313832a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNjR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  }